ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: orangered;
}
.header-button:hover {
    background-color: red;
}
.header {
    background-color: orangered;
    color:white;
}
ul li {
    float:left
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.searchbar {
    border-style: solid;
    border: 2px black;
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
}