ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: orangered;
}
.header-button:hover {
    background-color: red;
}
.header {
    background-color: orangered;
    color:white;
}
ul li {
    float:left
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
body {
/*    font-family: Arial, Helvetica, sans-serif;
    background-color: white; */
      font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.searchbar {
    border-style: solid;
    border: 2px black;
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
}
.row {
    margin: 8px -5px;
}
.row,
.row > .column {
    padding: 8px;
}
.column {
    float:left;
    width: 25%; 
}
.row:after {
    content: "";
    display:table;
    clear:both;
}
.content {
    background-color: orangered;   
    color:white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius:5px;
    text-align: center;
}
.carImg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75%;
}